<div class="mt-4">
  <h3>Cập nhật khóa học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      {{! for được dùng khi click vào label thì sẽ focus vô input, label-for = input-id
      name sẽ được submit }}
      <label for="name">Tên khóa học</label>
      <input
        class="form-control"
        type="text"
        value="{{course.name}}"
        id="name"
        name="name"
      />

    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
      >{{course.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="videoID">Video</label>
      <input
        class="form-control"
        type="text"
        value="{{course.videoID}}"
        id="videoID"
        name="videoID"
      />

    </div>

    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>