h3 {
  color: purple; }

/*
* when watching all the folder, if scss file not have "_" => will crete nre file
* If have "_" => use as private for import
*/
h1 {
  color: red; }

h2 {
  color: green; }

.card-course-item {
  height: 470px;
  margin-top: 16px; }

.btn-primary--modified {
  position: absolute;
  left: 20px;
  bottom: 15px; }

.card-img-top--modified {
  object-fit: cover; }
